{% extends 'base.html.twig' %}

{% block title %}{{ 'page.realisations.title'|trans }}{% endblock %}

{% block body %}
<section class="realisations">
    <h1 data-i18n="page.realisations.title">{{ 'page.realisations.title'|trans }}</h1>
    <p class="realisations-intro" data-i18n="realisations.intro">{{ 'realisations.intro'|trans }}</p>
    <div class="realisations-grid">
        <article class="real-card sae">
            <img src="{{ asset('mooc.jpg') }}" alt="SAE1.01 : Hygiène informatique & cybersécurité" />
            <div class="real-body">
                <h3 data-i18n="sae.sae101.title">{{ 'sae.sae101.title'|trans }}</h3>
                <p data-i18n="sae.sae101.long">{{ 'sae.sae101.long'|trans }}</p>
                <ul>
                    <li data-i18n="sae.sae101.li1">{{ 'sae.sae101.li1'|trans }}</li>
                    <li data-i18n="sae.sae101.li2">{{ 'sae.sae101.li2'|trans }}</li>
                    <li data-i18n="sae.sae101.li3">{{ 'sae.sae101.li3'|trans }}</li>
                </ul>
            </div>
        </article>
        <article class="real-card sae">
            <img src="{{ asset('/f3.png') }}" alt="SAE12 : S'initier aux réseaux informatiques" />
            <div class="real-body">
                <h3 data-i18n="sae.sae12.title">{{ 'sae.sae12.title'|trans }}</h3>
                <p data-i18n="sae.sae12.long">{{ 'sae.sae12.long'|trans }}</p>
                <ul>
                    <li data-i18n="sae.sae12.li1">{{ 'sae.sae12.li1'|trans }}</li>
                    <li data-i18n="sae.sae12.li2">{{ 'sae.sae12.li2'|trans }}</li>
                </ul>
            </div>
        </article>
        <article class="real-card sae">
            <img src="https://images.unsplash.com/photo-1461749280684-dccba630e2f6?auto=format&fit=crop&w=400&q=80" alt="SAE Portfolio Web" />
            <div class="real-body">
                <h3 data-i18n="sae.portfolio.title">{{ 'sae.portfolio.title'|trans }}</h3>
                <p data-i18n="sae.portfolio.long">{{ 'sae.portfolio.long'|trans }}</p>
                <ul>
                    <li data-i18n="sae.portfolio.li1">{{ 'sae.portfolio.li1'|trans }}</li>
                    <li data-i18n="sae.portfolio.li2">{{ 'sae.portfolio.li2'|trans }}</li>
                    <li data-i18n="sae.portfolio.li3">{{ 'sae.portfolio.li3'|trans }}</li>
                </ul>
            </div>
        </article>
        <article class="real-card sae">
            <img src="/cable.jpg" alt="SAE 1.03 Couverture Wifi" />
            <div class="real-body">
                <h3 data-i18n="sae.sae103.title">{{ 'sae.sae103.title'|trans }}</h3>
                <p data-i18n="sae.sae103.long">{{ 'sae.sae103.long'|trans }}</p>
                <ul>
                    <li data-i18n="sae.sae103.li1">{{ 'sae.sae103.li1'|trans }}</li>
                    <li data-i18n="sae.sae103.li2">{{ 'sae.sae103.li2'|trans }}</li>
                    <li data-i18n="sae.sae103.li3">{{ 'sae.sae103.li3'|trans }}</li>
                </ul>
            </div>
        </article>
        <article class="real-card projet">
            <img src="{{ asset('ubuntu.png') }}" alt="DÉPLOIEMENT & SYSTÈMES LINUX" />
            <div class="real-body">
                <h3 data-i18n="project.ctf.title">{{ 'project.ctf.title'|trans }}</h3>
                <p data-i18n="project.ctf.long">{{ 'project.ctf.long'|trans }}</p>
                <ul>
                    <li data-i18n="project.ctf.li1">{{ 'project.ctf.li1'|trans }}</li>
                    <li data-i18n="project.ctf.li2">{{ 'project.ctf.li2'|trans }}</li>
                    <li data-i18n="project.ctf.li3">{{ 'project.ctf.li3'|trans }}</li>
                </ul>
                <div class="button-group">
                    <a href="https://docs.google.com/document/d/1xcxtYRSsuH0FMFPduEUtA24G72QUlvTF9PUNZvDrldI/edit?usp=sharing" class="btn btn-primary">Document preuve</a>
                    <a href="https://docs.google.com/document/d/1rQbmhOemEe63fb70MAq2yNvjartXH7hk5tEjtJNB5Gw/edit?usp=sharing" class="btn btn-secondary">Analyse réflexive</a>
                </div>
            </div>
        </article>
        <article class="real-card projet">
            <img src="{{ asset('groupes.png') }}" alt="TRAVAIL COLLABORATIF & GESTION DE PROJET" />
            <div class="real-body">
                <h3 data-i18n="project.bot.title">{{ 'project.bot.title'|trans }}</h3>
                <p data-i18n="project.bot.long">{{ 'project.bot.long'|trans }}</p>
                <ul>
                    <li data-i18n="project.bot.li1">{{ 'project.bot.li1'|trans }}</li>
                    <li data-i18n="project.bot.li2">{{ 'project.bot.li2'|trans }}</li>
                    <li data-i18n="project.bot.li3">{{ 'project.bot.li3'|trans }}</li>
                </ul>
                <div class="button-group">
                    <a href="https://docs.google.com/document/d/18uY2RnrN0dpXAh4VDoPRvskfBB3939MSMK0znMJPIMk/edit?tab=t.0" class="btn btn-primary">Document preuve</a>
                    <a href="https://docs.google.com/document/d/1rQbmhOemEe63fb70MAq2yNvjartXH7hk5tEjtJNB5Gw/edit?tab=t.0#heading=h.613g2vpxfp96" class="btn btn-secondary">Analyse réflexive</a>
                </div>
            </div>
        </article>
        <article class="real-card projet">
            <img src="{{ asset('telephone.webp') }}" alt="Réparation téléphone" />
            <div class="real-body">
                <h3 data-i18n="project.repair.title">{{ 'project.repair.title'|trans }}</h3>
                <p data-i18n="project.repair.long">{{ 'project.repair.long'|trans }}</p>
                <ul>
                    <li data-i18n="project.repair.li1">{{ 'project.repair.li1'|trans }}</li>
                    <li data-i18n="project.repair.li2">{{ 'project.repair.li2'|trans }}</li>
                </ul>
            </div>
        </article>
        <article class="real-card projet">
            <img src="https://images.unsplash.com/photo-1461749280684-dccba630e2f6?auto=format&fit=crop&w=400&q=80" alt="Projet site vitrine rémunéré" />
            <div class="real-body">
                <h3 data-i18n="project.web.title">{{ 'project.web.title'|trans }}</h3>
                <p data-i18n="project.web.long">{{ 'project.web.long'|trans }}</p>
                <ul>
                    <li data-i18n="project.web.li1">{{ 'project.web.li1'|trans }}</li>
                    <li data-i18n="project.web.li2">{{ 'project.web.li2'|trans }}</li>
                    <li data-i18n="project.web.li3">{{ 'project.web.li3'|trans }}</li>
                </ul>
            </div>
        </article>
    </div>
</section>
{% endblock %}
